.containerr{   
    /* width: 1200px; */
    height: 800px;
    /* border: 1px solid blue; */
    /* position: absolute; */
    left: 0;
    right: 0;
    margin: 0 auto;
    top:20px;
    
      
  }
  body{
    background-color: rgb(46, 46, 46);
  }
  h2{
      text-align: center;
  }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        text-decoration: none;
        color: white;
    }   
  img{
    border-radius: 20px;  
  }
  .div-img{
      display: block;
      margin-left: auto;
      margin-right: auto;     
      /* .img{ */
         
          
        /* }   */
      }        
    .div-img img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;   
        transform:scale(1);
        -ms-transform:scale(1);
          -moz-transform:scale(1); 
          -webkit-transform:scale(1); 
          -o-transform:scale(1); 
          -webkit-transition: all 500ms ease-in-out;  
          -moz-transition: all 500ms ease-in-out;  
          -ms-transition: all 500ms ease-in-out;   
          transition: all 500ms ease-in-out;    
    }
      .div-img:hover img{
          /* .img{ */
              transform:scale(0.9);
              -ms-transform:scale(0.9); 
              -moz-transform:scale(0.9); 
              -webkit-transform:scale(0.9); 
              -o-transform:scale(0.9);
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
          /* } */
      
      } 
  