/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: rgba(126, 126, 126, 0.418);
  }
  .tam{
    font-size: x-large;
  }
  .radio{
    margin-left: 50px
  }
 
  .borde{
    border-bottom: solid 1px;

  }