body {
    padding-top: 5rem;
    background-image: url("http://localhost/sistema_evaluacion/imagenes/fondo_temario.jpg");
    
  }
  .color_blanco{
    color: white;    
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

.imagen{
  width: 500px;
  border-radius: 20px;  
}

.parrafo{
  color: black;
  background-color: aliceblue;
  border-radius: 20px;
}